main{
min-height: 100vh;
background-repeat: no-repeat;
background-size: auto;
overflow: hidden;
background-attachment: fixed;
background-position: right;

}

#intro-container {
    background-color: rgba(121, 90, 56, 0.35);
    /* background-image: url(../../images/sexson-art-bg.png); */
    min-height: 100vh;
    
    
}

#sexsonart{
    display: block;
    max-width: 95%;
    margin: auto;
}

#intro-container-small {
    display: none;
    min-height: 100vh;
}

#small-intro {
    display: block;
    max-width: 95%;
    margin: auto;
}

@media  screen and (max-width: 500px) {
    #intro-container {
        display: none;
    }
    #intro-container-small {
        display: block;
    }
}
